/* This is the css page for everything in the CellProfiler page */
.thumbnail {
  width: 100px;
}

.image {
  width: 100%;
  margin: 12px 0;
}

.medium-image {
  width: 75%;
  margin: 12px 0;
}

.small-image {
  width: 50%;
  margin: 12px 0;
}

.tiny-image {
  width: 25%;
  margin: 12px 0;
}

.list-group-item {
  padding-left: 0px;
  padding: 8px 0;
}

.search-bar {
  padding-top: 20px;
  padding-bottom: 4px;
}

.nonlist-group-item {
  margin-top: 16px;
}

.releases-link {
  margin-bottom: 15px;
}

.header {
  padding-left: 15px;
}

.video {
  width: 350px;
  height: 200px;
}

ul {
  padding-left: 15px;
  list-style-type: none;
}

li {
    margin-bottom: 5px;
}

.bottom-margin {
  margin-bottom: 100px;
}

.btn-pink {
  color: #FF0088;
  background-color: #FDFDFD;
  border-color: #FF0088;
}

.btn-pink:hover {
  color: #FF0088;
  background-color: #F5F5F5;
  border-color: #FF0088;
}

.btn-pink:active {
  color: #FF0088;
  background-color: #CCCCCC;
  border-color: #FF0088;
}

a {
  text-decoration: none;
  color: #FF0088;
}

a:hover {
  color: #FF0088;
  text-decoration: underline;
}

.bluish-pink {
  color: #D400FF;
}

.red-1 {
  color: #FF1335;
}

.red-2 {
  color: #CC0F00;
}

.off-white {
  color: #FDFDFD
}

.more-off-white {
  color: #F5F5F5
}

.light-black {
  color: #0D0D0D;
}

.lighter-black {
  color: #171717;
}

.quarter-black {
  color: #303030;
}

.sans-serif {

}

.serif {

}

.proportional {

}

/* 3 pinks, 2 non-pinks, 5 greys: 1 off-white, 1 slightly more off-white, 1 not black, 1 slightly more not black, 1 within 25% of black, 3 fonts: sans serif, serif, proportional and then go to the google font directory for nice pairings*/
