.thumbnail {
  width: 100px;
}

.image {
  width: 100%;
  margin: 12px 0;
}

.medium-image {
  width: 75%;
  margin: 12px 0;
}

.small-image {
  width: 50%;
  margin: 12px 0;
}

.tiny-image {
  width: 25%;
  margin: 12px 0;
}

.list-group-item {
  padding-left: 0px;
  padding: 8px 0;
}

.search-bar {
  padding-top: 20px;
  padding-bottom: 4px;
}

.nonlist-group-item {
  margin-top: 16px;
}

.releases-link {
  margin-bottom: 15px;
}

.header {
  padding-left: 15px;
}

.video {
  width: 350px;
  height: 200px;
}

.bottom-margin {
  margin-bottom: 100px;
}
