{% for interface in site.data.interfaces_2 %}
 <div style="margin-top: 25px;"></div>
  <div class="row" style="margin-bottom: 15px;" style="margin-top: 15px;">
    <div class="col-2">
      <a href="{{interface.link}}"><img src="{{interface.image_href}}" alt="{{interface.image_alt}}" class="{{interface.image_size}}"><b>{{interface.title}}</b></a>
      <a href="{{interface.link_2}}"><img src="{{interface.image_href_2}}" alt="{{interface.image_alt_2}}" class="{{interface.image_size_2}}"><b>{{interface.title_2}}</b></a>
    </div>

    <div class="col-5">
      {{interface.description_1}}
    </div>

    <div class="col-5">
      {{interface.description_2}}
    </div>
  </div>
  <div style="margin-bottom: 25px;"></div>
{% endfor %}
