{% for interface in site.data.interfaces.a %}
 <div style="margin-top: 25px;"></div>
  <div class="row" style="margin-bottom: 15px;" style="margin-top: 15px;">
    <div class="col-2">
      <b>{{interface.header}}</b>
      <a href="{{interface.link}}"><img src="{{interface.image_href}}" alt="{{interface.image_alt}}" class="{{interface.image_size}}"><b>{{interface.title}}</b></a>
      <a href="{{interface.link_2}}"><img src="{{interface.image_href_2}}" alt="{{interface.image_alt_2}}" class="{{interface.image_size_2}}"><b>{{interface.title_2}}</b></a>
      <a href="{{interface.link_3}}"><img src="{{interface.image_href_3}}" alt="{{interface.image_alt_3}}" class="{{interface.image_size_3}}"><b>{{interface.title_3}}</b></a>
    </div>

    <div class="col-5">
      <b>{{interface.header_2}}</b>
      {{interface.description_1}}
    </div>

    <div class="col-5">
      <b>{{interface.header_3}}</b>
      {{interface.description_2}}
    </div>
  </div>
  <div style="margin-bottom: 25px;"></div>
{% endfor %}

<h2><span id="software-partnerships">Software Partnerships</span></h2>

CellProfiler has partnered with academic and commercial groups to create a variety of software interfaces. These efforts not only expand the functionality of CellProfiler and CellProfiler Analyst but also leverage the strengths of other packages.

{% for interface in site.data.interfaces.b %}
 <div style="margin-top: 25px;"></div>
  <div class="row" style="margin-bottom: 15px;" style="margin-top: 15px;">
    <div class="col-2">
      <b>{{interface.header}}</b>
      <a href="{{interface.link}}"><img src="{{interface.image_href}}" alt="{{interface.image_alt}}" class="{{interface.image_size}}"><b>{{interface.title}}</b></a>
      <a href="{{interface.link_2}}"><img src="{{interface.image_href_2}}" alt="{{interface.image_alt_2}}" class="{{interface.image_size_2}}"><b>{{interface.title_2}}</b></a>
    </div>

    <div class="col-5">
      <b>{{interface.header_2}}</b>
      {{interface.description_1}}
    </div>

    <div class="col-5">
      <b>{{interface.header_3}}</b>
      {{interface.description_2}}
    </div>
  </div>
  <div style="margin-bottom: 25px;"></div>
{% endfor %}
