<div class="row">
  <div class="col-md-12">
    <a href="/">
      <img class="img-responsive" src="/images/CPLOGO.png">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>CellProfiler</h1>

    <ul>
      <li>
        <a href="/releases/">Download</a>
      </li>

      <li>
        <a href="#">Help</a>
      </li>

      <li>
        <a href="/getting_started/">Getting started</a>
      </li>

      <li>
        <a href="/examples">Examples</a>
      </li>

      <li>
        <a href="/tutorials">Tutorials</a>
      </li>

      <li>
        <a href="http://forum.cellprofiler.org/">Forum</a>
      </li>

      <li>
        <a href="/supportplan/">Custom support</a>
      </li>

      <li>
        <a href="/outreach/">Educational modules</a>
      </li>

      <li>
        <a href="/about/">About</a>
      </li>
    </ul>

    <h1>CellProfiler Analyst</h1>

    <ul>
      <li>
        <a href="/cp-analyst/#introduction">Introduction</a>
      </li>

      <li>
        <a href="/releases/">Download</a>
      </li>

      <li>
        <a href="/tutorials">Tutorials / Example data</a>
      </li>

      <li>
        <a href="/cpa">Documentation</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a href="http://www.broadinstitute.org">
      <img class="img-responsive" src="/images/broad_logo.png">
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a href="http://www.facebook.com/cellprofiler">
      <img class="img-responsive" src="/images/facebook.svg">
    </a>
  </div>

  <div class="col-md-3">
    <a href="http://twitter.com/CellProfiler">
      <img class="img-responsive" src="/images/twitter.svg">
    </a>
  </div>

  <div class="col-md-3">
    <a href="http://www.linkedin.com/groups/4837622">
      <img class="img-responsive" src="/images/linkedin.png">
    </a>
  </div>
</div>
