{% for previous_example in site.data.previous_examples %}
  <div class="media" id="{{previous_example.id}}">
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{previous_example.title}}</h5>

      <p>{{previous_example.description}}</p>

      <p><a href="{{previous_example.download_href}}">{{previous_example.download_tag}}</a> {{previous_example.download_size}}</p>
      <p><a href="{{previous_example.second_href}}">{{previous_example.second_tag}}</a></p>
    </div>

    <img class="ml-3 thumbnail" src="{{previous_example.image_a_href}}" alt="{{previous_example.image_a_alt}}">

    <img class="ml-3 thumbnail" src="{{previous_example.image_b_href}}" alt="{{previous_example.image_b_alt}}">
  </div>
{% endfor %}
