<table class="table table-striped" style="margin-bottom: 100px;">
  <tbody>
    {% for release in site.data.previous_releases_2 %}
      <tr>
        {{release.version}}
        {{release.linux}}
        {{release.mac}}
        {{release.mac_intel}}
        {{release.matlab}}
        {{release.win_32}}
        {{release.win_64}}
    {% endfor %}

<!-- The reason why there are no closers for the sections on this page (such as </tr>) is because the computer seems to automatically fill them in and if they are also written on this
page, then they show up in plaintext on the webpage. -->
