<div class="col-4 col-md-3">
  <a href="/"><img src="/images/cp_logo.png" alt="CellProfiler logo" class="sidebar image"></a>

  <h5 class="nonlist-group-item"><a href="/releases/">Download</a></h5>
  <h5 class="nonlist-group-item"><a href="/help">Help</a></h5>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/getting_started/">Getting started</a></li>
    <li class="list-group-item"><a href="/examples">Examples</a></li>
    <li class="list-group-item"><a href="/tutorials">Tutorials</a></li>
    <li class="list-group-item"><a href="http://forum.cellprofiler.org/">Forum</a></li>
    <li class="list-group-item"><a href="http://blog.cellprofiler.org/">Blog</a></li>
    <li class="list-group-item"><a href="/supportplan/">Custom support</a></li>
    <li class="list-group-item"><a href="/outreach/">Educational modules</a></li>
    <li class="list-group-item"><a href="/citations/">Cite us</a></li>
  </ul>

  <h5 class="nonlist-group-item"><a href="/about/">About</a></h5>
  <h5 class="nonlist-group-item"><a href="/cp-analyst/" >CellProfiler Analyst</a></a></h5>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/releases/">Download</a></li>
    <li class="list-group-item"><a href="/tutorials/#cellprofiler-analyst-video-tutorials">Tutorials / Example data</a></li>
    <li class="list-group-item"><a href="/cpa/">Documentation</a></li>
  </ul>

  <a href="http://www.broadinstitute.org"> <img src="/images/broad_logo.png" alt="Broad logo" class="sidebar image"></a>

  <div class="row">
    <div class="col-5 col-lg-3">
      <a href="http://www.facebook.com/cellprofiler"><img src="/images/facebook.svg" alt="Facebook logo" class="sidebar image"></a>
    </div>

    <div class="col-5 col-lg-3">
      <a href="http://twitter.com/CellProfiler"><img src="/images/twitter.svg" alt="Twitter logo" class="sidebar image" style="margin-top: 15px;"></a>
    </div>

    <div class="col-5 col-lg-3">
      <a href="https://blog.cellprofiler.org/"><img src="/images/wordpress_logo.png" alt="Wordpress logo" class="sidebar image"></a>
    </div>
  </div>
  <div class="bottom-margin"></div>
</div>
