{% for worm in site.data.wormtoolbox_videos %}
  <div class="row">
    <div class="col-6">
      <iframe allowfullscreen="" src="{{worm.video_href}}" class="video"></iframe>

      <p>{{worm.video_title}}</p>

      <p>CellProfiler 2.1 pipeline- <a href="{{worm.pipeline_href}}">{{worm.pipeline_href_title}}</a></p>

      <p>{{worm.worm_model_tag}} <a href="{{worm.worm_model_href}}">{{worm.worm_model_title}}</a></p>

      <p>Download this video- <a href="{{worm.video_download_href}}">{{worm.video_download_title}}</a></p>

      <p>{{worm.description}}</p>

      <p>{{worm.list_title}}</p>

      <ul>
        {{worm.list_item_1}}
        {{worm.list_item_2}}
        {{worm.list_item_3}}
        {{worm.list_item_4}}
        {{worm.list_item_5}}
        {{worm.list_item_6}}
        {{worm.list_item_7}}
      </ul>

      <p>{{worm.note}}</p>
    </div>

    <div class="col-6">
      <iframe allowfullscreen="" src="{{worm.video_href_2}}" class="video"></iframe>

      <p>{{worm.video_title_2}}</p>

      <p>CellProfiler 2.1 pipeline- <a href="{{worm.pipeline_href_2}}">{{worm.pipeline_href_title_2}}</a></p>

      <p>{{worm.worm_model_tag_2}} <a href="{{worm.worm_model_href_2}}">{{worm.worm_model_title_2}}</a></p>

      <p>Download this video- <a href="{{worm.video_download_href_2}}">{{worm.video_download_title_2}}</a></p>

      <p>{{worm.description_2}}</p>

      <p>{{worm.list_title_2}}</p>

      <ul>
        {{worm.list_item_1_2}}
        {{worm.list_item_2_2}}
        {{worm.list_item_3_2}}
        {{worm.list_item_4_2}}
        {{worm.list_item_5_2}}
        {{worm.list_item_6_2}}
        {{worm.list_item_7_2}}
      </ul>

      <p>{{worm.note_2}}</p>
    </div>
  </div>
{% endfor %}
