{% for worm in site.data.wormtoolbox_image %}
  <div class="row">
    <div class="col-6">
      <img src="{{worm.image_href}}" alt="{{worm.image_alt}}" class="image">
    </div>

    <div class="col-6">
      <p>{{worm.text_1}}</p>

      <ul>
        {{worm.list_item_1}}
        {{worm.list_item_2}}
        {{worm.list_item_3}}
        {{worm.list_item_4}}
        {{worm.list_item_5}}
      </ul>

      <p>{{worm.text_2}}</p>

      <p>{{worm.text_3}}</p>

      <p>{{worm.text_4}}</p>
    </div>
  </div>
{% endfor %}
