<!DOCTYPE html>

<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>CellProfiler</title>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/application.css" rel="stylesheet">
  </head>

  <body>
    {% include body.html %}

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.1.1.min.js">

    </script>

    <script>
      window.jQuery || document.write('<script src="javascripts/libraries/jquery-3.1.1.min.js"><\/script>')
    </script>

    <script crossorigin="anonymous" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>

    <script src="/javascripts/application.js">

    </script>
  </body>
</html>
