<!DOCTYPE html>

<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>CellProfiler</title>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="/stylesheets/application.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <a href="/">
                <img class="img-responsive" src="/images/CPLOGO.png">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h1>CellProfiler</h1>

              <ul>
                <li>
                  <a href="/releases/">Download</a>
                </li>

                <li>
                  <a href="#">Help</a>
                </li>

                <li>
                  <a href="/getting_started/">Getting started</a>
                </li>

                <li>
                  <a href="/examples">Examples</a>
                </li>

                <li>
                  <a href="/tutorials">Tutorials</a>
                </li>

                <li>
                  <a href="http://forum.cellprofiler.org/">Forum</a>
                </li>

                <li>
                  <a href="/supportplan/">Custom support</a>
                </li>

                <li>
                  <a href="/outreach/">Educational modules</a>
                </li>

                <li>
                  <a href="/about/">About</a>
                </li>
              </ul>

              <h1>CellProfiler Analyst</h1>

              <ul>
                <li>
                  <a href="/cp-analyst/#introduction">Introduction</a>
                </li>

                <li>
                  <a href="/releases/">Download</a>
                </li>

                <li>
                  <a href="/tutorials">Tutorials / Example data</a>
                </li>

                <li>
                  <a href="/cpa">Documentation</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <a href="http://www.broadinstitute.org">
                <img class="img-responsive" src="/images/broad_logo.png">
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <a href="http://www.facebook.com/cellprofiler">
                <img class="img-responsive" src="/images/facebook.svg">
              </a>
            </div>

            <div class="col-md-3">
              <a href="http://twitter.com/CellProfiler">
                <img class="img-responsive" src="/images/twitter.svg">
              </a>
            </div>

            <div class="col-md-3">
              <a href="http://www.linkedin.com/groups/4837622">
                <img class="img-responsive" src="/images/linkedin.png">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          {{ content }}
        </div>
      </div>
    </div>

    <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.1.1.min.js">

    </script>

    <script>
      window.jQuery || document.write('<script src="javascripts/libraries/jquery-3.1.1.min.js"><\/script>')
    </script>

    <script crossorigin="anonymous" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    </script>

    <script src="/javascripts/application.js">

    </script>
  </body>
</html>
